<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="login-title" i18n="@@login">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="loginMail()" class="login-form" #loginForm="ngForm">
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput placeholder="test@homenoc.ad.jp" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" i18n="@@login">Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
