<ng-container *ngFor="let d of items">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{d.name}}</mat-card-title>
      <mat-card-subtitle>ID:{{d.ID}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>
        <mat-chip-list>
          <p>{{d.comment}}</p>
        </mat-chip-list>
      </mat-card-subtitle>
      <p></p>
    </mat-card-content>
    <mat-card-actions>
      <!--      <button mat-button (click)="detailPage(d.ID)">Detail Page</button>-->
    </mat-card-actions>
  </mat-card>
</ng-container>
<br>

