<mat-sidenav-container class="container">
  <mat-sidenav #sideNav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="list">一覧</a>
      <a mat-list-item routerLink="add">追加</a>
      <br>
      <br>
    </mat-nav-list>
    <br>
    <br>
    <p class="version"><b>version: 2.0a</b></p>
    <br>
    <br>
    <button mat-raised-button color="warn" class="button" (click)="this.authService.logOut()" i18n="@@logout">Logout
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
